 <div class="container-fluid">
    <div class="title-list mt-4">
        <h3>THÔNG TIN CHI TIẾT</h3>
    </div>
        <div class="product-detail">
            <div class="row">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img src="{{novel.image}}" alt="{{novel.title}}" class="img-fluid">
                </div>
                <div class="col-md-7 product-info">
                    <h1>{{novel.title}}</h1>
                    <hr> 
                    <p><strong>Tác giả:</strong> {{novel.author}}</p>
                    <div class="description">
                        {{{convertToHtml novel.description}}}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                       <p style="font-size: 1em;"><strong>{{book.price}}</strong></p>
                           
                    </div>
                    <hr>
                </div>
            </div>
    </div>

    <div class="title-list mt-4">
        <h3>DANH SÁCH CHƯƠNG</h3>
        <div class="chapter-list">
            <div class="row">
  <div class="col-xs-12 col-sm-6">
    <ul>
      {{#each (splitArray novel.chapters 2 0)}}
        <li>
          <a class="text-link" href="{{this.chapterUrl}}">{{this.chapterTitle}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    <ul>
      {{#each (splitArray novel.chapters 2 1)}}
        <li>
          <a class="text-link" href="{{this.chapterUrl}}">{{this.chapterTitle}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
        </div>
    </div>
</div>